{% extends "index.html" %}
{% load i18n static compress %}

{% block body %}
<header>
  
  <div class="page-header min-height-400" style="background-image: url('{% static 'assets/img/city-profile.jpg'%}');" loading="lazy">
    <span class="mask bg-gradient-dark opacity-8">
    
    </span>
     <h1 class=" "> Owne {{kennelobject.name}} Kennel Home
        </h1>
  </div>
</header>

{% block content %}

<div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6 mb-4">
  <!-- START Testimonials w/ user image & text & info -->
  <section class="py-sm-7 py-5 position-relative">
    <div class="container">
      <div class="row">
        <div class="col-12 mx-auto">
          <div class="mt-n8 mt-md-n9 text-center">
            <img class="avatar avatar-xxl shadow-xl position-relative z-index-2" src="{% static 'assets/img/bruce-mars.jpg'%}" alt="bruce" loading="lazy">
          </div>
          <div class="row py-5">
            <div class="col-lg-7 col-md-7 z-index-2 position-relative px-md-2 px-sm-5 mx-auto">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <h3 class="mb-0">{{kennelobject.name}}</h3>
                <div class="d-block">
                  <button type="button" class="btn btn-sm btn-outline-info text-nowrap mb-0">Follow</button>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-auto">
                  <span class="h6">323</span>
                  <span>Posts</span>
                </div>
                <div class="col-auto">
                  <span class="h6">3.5k</span>
                  <span>Followers</span>
                </div>
                <div class="col-auto">
                  <span class="h6">260</span>
                  <span>Following</span>
                </div>
              </div>
              <p class="text-lg mb-0">
                Decisions: If you can’t decide, the answer is no.
                If two equally difficult paths, choose the one more
                painful in the short term (pain avoidance is creating
                an illusion of equality). Choose the path that leaves
                you more equanimous. <br><a href="javascript:;" class="text-info icon-move-right">More about me
                  <i class="fas fa-arrow-right text-sm ms-1"></i>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END Testimonials w/ user image & text & info -->
  <!-- START Blogs w/ 4 cards w/ image & text & link -->
  <section class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h3 class="mb-5">Check my {{ object.lastname }} blogposts</h3>
        </div>
      </div>
      <div class="row">              
      
                  {% for p in UserPets %}

        <div class="col-lg-3 col-sm-6">
          <div class="card card-plain">
            <div class="card-header p-0 position-relative">
              <a class="d-block blur-shadow-image">
                <img src="{{p.profile_picture.url}}" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg" loading="lazy">
              </a>
            </div>
            <div class="card-body px-0">
              <h5>
                <a href="{%url 'pet_Detail' p.pk p.slug  %}" class="text-dark font-weight-bold">{{p.name}}</a></h4>

                {% comment %} <a href="javascript:;" class="text-dark font-weight-bold">Rover raised $65 million</a> {% endcomment %}
              </h5>
              <p>
               {{p.description}}
              </p>
                {% if user.is_authenticated %}
      <a href="{% url 'edit' p.pk %}" class="lead text text-right">{% trans 'Edit' %}</a>




      {% endif %}
            <a href="{%url 'pet_Detail' p.pk p.slug  %}"class="text-info text-sm icon-move-right">Read More
                <i class="fas fa-arrow-right text-xs ms-1"></i>
              </a>
              
            </div>
          </div>
        </div>
        {% endfor %}

        <div class="col-lg-3 col-sm-6">
          <div class="card card-plain">

            <div class="card-header p-0 position-relative">
              <a class="d-block blur-shadow-image">
                <img src="{% static 'assets/img/examples/testimonial-6-3.jpg'%}" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg" loading="lazy">
              </a>
            </div>
            <div class="card-body px-0">
              <h5>
                <a href="javascript:;" class="text-dark font-weight-bold">MateLabs machine learning</a>
              </h5>
              <p>
                If you’ve ever wanted to train a machine learning model
                and integrate it with IFTTT, you now can with ...
              </p>
              <a href="javascript:;" class="text-info text-sm icon-move-right">Read More
                <i class="fas fa-arrow-right text-xs ms-1"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card card-plain">
            <div class="card-header p-0 position-relative">
              <a class="d-block blur-shadow-image">
                <img src="{% static 'assets/img/examples/blog-9-4.jpg'%}" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg" loading="lazy">
              </a>
            </div>
            <div class="card-body px-0">
              <h5>
                <a href="javascript:;" class="text-dark font-weight-bold">MateLabs machine learning</a>
              </h5>
              <p>
                If you’ve ever wanted to train a machine learning model
                and integrate it with IFTTT, you now can with ...
              </p>
              <a href="javascript:;" class="text-info text-sm icon-move-right">Read More
                <i class="fas fa-arrow-right text-xs ms-1"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-12 col-12">
          

          <div class="card card-blog card-background cursor-pointer">
            <div class="full-background" loading="lazy"></div>
            <div class="card-body">
              <div class="content-left text-start my-auto py-4">
                <h2 class="card-title text-white">Flexible work hours</h2>
                <p class="card-description text-white">Rather than worrying about switching offices every couple years, you stay in the same place.</p>
               

                <a href="javascript:;" class="text-white text-sm icon-move-right">Read More
                  <i class="fas fa-arrow-right text-xs ms-1"></i>
                </a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END Blogs w/ 4 cards w/ image & text & link -->
</div>
<div class="card">

  <div class="card-body">
    <div class="p-5 mb-4 bg-light border rounded-3">

      {% if user.is_authenticated and user == object.owner%}
      <a href="{% url 'edit' %}" class="btn btn-primary">{% trans 'Edit' %}</a>


      <a href="{%url 'pet_edit' object.pk  %}" class='btn btn-danger'>edit</a>


      {% endif %}

      <
        owenername: {{userinfo.first_name}}
        {{userinfo.last_name}}

        <p class="lead text text-right">{{userinfo.username}}
          {% if user.is_authenticated and user.id == object.id %}
          <a href="{% url 'edit' %}" class="btn btn-primary">{% trans 'Edit' %}</a>
          {% endif %}
          <a href="#" target="_blank" class="btn btn-primary btn-lg">{{userinfo.username}}</a></p>
      </div>
      <div class="card-head">
        contact:<i class="fa fa-address-card" aria-hidden="true">{{userinfo.kennel_state}}</i>

        <div class="card card-body">
          <blockquote class="blockquote">
            <p>{{userinfo.kennel_description}}</p>
            <footer class="card-blockquote"> {{userinfo.kennel_contact}}
              <cite title="Source title">
                {{userinfo.kennel_addres}}
              </cite></footer>
          </blockquote>
        </div>
        <a class="btn btn-succes" href="{{userinfo.kennel_social}}">link</a>
      </div> kanenl info:
      <img src="{{userinfo.kennel_image.url}} " alt="" height="100px" width="120px" srcset="">
    </div>


    <div class="row p-md-5">
      <div class="row ">
        {% for p in UserPets %}
        <div class="col-4">
          <!-- <h4 class="card">{{p.owner}}</h4> -->
          <div class="card card-body">
            <img class="card-img-top" src="{{p.profile_picture.url}}" height="120px" width="150px" alt="" />
            <h4 class="card-title">
              
              <a href="{%url 'pet_Detail' p.pk p.slug  %}">{{p.name}}</a></h4>
            <p class="card-text">{{p.description}}</p>
            <span class="card-tags">{{p.slug}}</span>

            <a href="{% url  'petCategoryIn' p.category.id %}">{{p.category}}</a>

            <span class="card-tags">{{p.city}}</span>
            <a href="{% url  'OwnerPetdetail' p.owner  %}">{{p.owner}}</a>
          </div>
        </div>
        {% endfor %}
      </div>
     
    </div>
  </div>
</div>
{% endblock content %}{% endblock body%}