{% load static %}

<div class="row mx-5 my-5 col-x">
  {% for pet in pets %}

  <div class="col-lg-4 ms-auto mt-lg-0 mt-4 pb-5">
    <div class="card">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <a class="d-block blur-shadow-image">
          <img
            src="{{pet.profile_picture.url}}"
            alt="img-colored-shadow"
            class="img-fluid border-radius-lg"
          />
        </a>
      </div>
      <div class="card-body text-center">
        <h5 class="font-weight-normal">
          <a href="javascript:;">Get insights on Search</a>
        </h5>
        <p class="mb-0">{{pet.description}}</p>
        <a href="{% url 'pet_Detail' pet.pk pet.slug%}">
          <button type="button" class="btn bg-gradient-info btn-sm mb-0 mt-3">
            Find out more
          </button>
        </a>
      </div>
    </div>
  </div>

  {% endfor %}
</div>
