{% load static %}

<header class="header_in">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-12">
        <div id="logo">
          <a
            href="{%url 'homepage'%}"
            title="Sparker - Directory and listings template"
          >
            <img
              src="{% static 'img/logo_sticky.svg'%}"
              width="165"
              height="35"
              alt=""
              class="logo_sticky"
            />
          </a>
        </div>
      </div>
      <div class="col-lg-9 col-12">{% include "_layout/navbar.html" %}</div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</header>
