{% load static %}

<header class="header menu_fixed">
  <div id="logo">
    <a
      href="{%url 'homepage'%}"
      title="Sparker - Directory and listings template"
    >
      <img
        src="{% static 'img/logo.svg'%}"
        width="165"
        height="35"
        alt=""
        class="logo_normal"
      />
      <img
        src="{% static 'img/logo_sticky.svg'%}"
        width="165"
        height="35"
        alt=""
        class="logo_sticky"
      />
    </a>
  </div>
  {% include "_layout/navbar.html" %}
</header>
