{% load i18n static compress %}


<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'homepage' %}">look pet</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link " href="{% url 'apiView'%}">API </a>
                </li>
               

                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {{user}}
    
                        </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'OwnerPetdetail' user %}">Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'resigter_pet'%}">Add Pet</a></li>
                        <li><a class="dropdown-item" href="">Another action</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">{% trans 'Logout' %}</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
                {% else %}
                <a class="nav-item nav-link" href="{% url 'create' %}">{% trans 'Create Account' %}</a>
                <a class="nav-item nav-link" href="{% url 'login' %}">login</a>
                {% endif %}
                <a class="nav-item nav-link" href="#">{% trans 'About' %}</a>
            </ul>
           
        </div>
    </div>
</nav>